# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependency directories
node_modules/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv environment variables file
.env

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Pyinstaller
#  Usually these files are written by a python script from a template
#  before PyBuilder builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec